{
  "Name": "ConsolePublisherConfiguration",
  "Description": "Publishes a json representation to the console window (when not running as a windows service) - handy for debugging!",
  "PluginType": "Wolfpack.Core.Publishers.Console.ConsolePublisher, Wolfpack.Core",
  "ConfigurationType": "Wolfpack.Core.Publishers.Console.ConsolePublisherConfiguration, Wolfpack.Core",
  "Data": "{\"FriendlyId\":\"ConsolePublisher\",\"Enabled\":true}",
  "Tags": [
    "Publisher",
    "Console"
  ],
  "Link": null,
  "RequiredProperties": {
    "Name": "ConsolePublisherConfiguration"
  }
}
