{
  "Name": "Notepad-Running",
  "Description": "Checks for notepads running",
  "InterfaceType": null,
  "ConfigurationType": "Wolfpack.Core.Checks.WmiProcessRunningCheckConfig, Wolfpack.Core",
  "Data": "{\"RemoteMachineId\":\"localhost\",\"ProcessName\":\"notepad.exe\",\"NotificationMode\":\"FailureOnly\",\"FriendlyId\":\"IsNotepadRunning\",\"Enabled\":true}",
  "Tags": [
    "HealthCheck",
    "WMI",
    "Running"
  ],
  "RequiredProperties": {
    "Scheduler": "EveryMinute",
    "Name": "Notepad-Running"
  }
}
