<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <!-- All config\*.castle.config files are auto discovered 
       and added to the castle IoC container, no need to register here.
       *** DO NOT REMOVE THE EMPTY castle element BELOW! *** -->
  <castle/>
</configuration>