<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>    
		<component id="ScheduleConfigurationRepository"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.IConfigurationRepository, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.Configuration.FileSystem.FileSystemScheduleConfigurationRepository, Wolfpack.Core">
			<parameters>
				<baseFolder>Config\Schedules</baseFolder>
			</parameters>
		</component>
		
		<component id="HealthCheckConfigurationRepository"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.IConfigurationRepository, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.Configuration.FileSystem.FileSystemHealthChecksLoader, Wolfpack.Core">
			<parameters>
				<baseFolder>Config\Checks</baseFolder>
			</parameters>
		</component>
		
		<component id="ActivityConfigurationRepository"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.IConfigurationRepository, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.Configuration.FileSystem.FileSystemActivityLoader, Wolfpack.Core">
			<parameters>
				<baseFolder>Config\Activities</baseFolder>
			</parameters>
		</component>
		
		<component id="PublisherConfigurationRepository"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.IConfigurationRepository, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.Configuration.FileSystem.FileSystemPublisherLoader, Wolfpack.Core">
			<parameters>
				<baseFolder>Config\Publishers</baseFolder>
			</parameters>
		</component>
    
		<component id="BootstrapConfigurationRepository"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.IConfigurationRepository, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.Configuration.FileSystem.FileSystemBootstrapLoader, Wolfpack.Core">
			<parameters>
				<baseFolder>Config\Bootstrap</baseFolder>
			</parameters>
		</component>
		
	</components>   
</configuration>
