<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- This filter, if uncommented will execute for all publishers
				 and checks (this is the *). Use it to only publish true or
				 false results. You can also attach it to a specific publisher
				 or check by setting the appropriate field below to the "friendly id"
				 of the check or publisher
		<component id="ResultFilter"
					 lifestyle="transient"
					 type="Wolfpack.Core.Filters.SuccessFilter, Wolfpack.Core">
			<parameters>
				<Publisher>*</Publisher>
				<Check>*</Check>
				<PublishSuccess>true</PublishSuccess>
				<PublishFailure>true</PublishFailure>
			</parameters>
		</component>
		-->
	</components>
</configuration>