<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- START: COMPONENTS FOR THE DEFAULT AGENT ROLE/PROFILE -->
		<component id="AgentConfiguration"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Interfaces.Entities.AgentConfiguration, Wolfpack.Core.Interfaces">
			<parameters>
				<SiteId>SiteA</SiteId>
				<Longitude></Longitude>
				<Latitude></Latitude>
			</parameters>
		</component>
				
		<component id="DefaultNotificationHub"
					 lifestyle="singleton"
					 service="Wolfpack.Core.Interfaces.INotificationHub, Wolfpack.Core.Interfaces"
					 type="Wolfpack.Core.NotificationHub, Wolfpack.Core">
		</component>
		<!-- END: COMPONENTS FOR THE DEFAULT AGENT ROLE/PROFILE -->

		<!-- START: COMMON COMPONENTS -->
		<component id="TypeDiscoveryConfig"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Interfaces.Entities.TypeDiscoveryConfig, Wolfpack.Core.Interfaces">
			<parameters>        
				<exclude>
					<list>
						<!-- Add new wildcardable assembly names to exclude here (one per item) -->
						<item>log4net.dll</item>            
						<item>magnum.dll</item>            
						<item>castle*.dll</item>            
						<item>growl*.dll</item>            
						<item>nservicebus*.dll</item>            
						<item>system*.dll</item>            
						<item>topshelf*.dll</item>            
						<item>Newtonsoft.Json.dll</item>
						<item>RestSharp.dll</item>
						<item>Sharp2City.dll</item>
						<item>nuget*.dll</item>
						<item>Fluent.IO.dll</item>
						<item>Ionic.Zip.dll</item>
						<item>automapper.dll</item>
						<item>htmlagilitypack.dll</item>
						<item>Microsoft.ServiceModel.Web</item>
						<item>Sidewinder*.*</item>
						<item>nuget*.*</item>
						<item>ICSharpCode*.*</item>
					</list>
				</exclude>
			</parameters>
		</component>    
		<!-- END: COMMON COMPONENTS -->
		
	</components>   
</configuration>