body 
{
    background-color: #3A3A3A;
    color: #cacaca
}

.subtitle 
{
    font-style: italic;
}

.panel-body {
    background-color: #505050;
}

.inline-heading {
	font-size: 25px;
	font-style: bold;
	display: inline;
}