{
"Name": "SignalR-Host",
"Description": "This activity hosts SignalR - Wolfpack notifications are rebroadcast to all connected clients.",
"InterfaceType": null,
"ConfigurationType": "Wolfpack.Core.WebServices.Interfaces.Entities.SignalRActivityConfig, Wolfpack.Core.WebServices.Interfaces",
"PluginType": "Wolfpack.Core.WebServices.SignalRActivity, Wolfpack.Core.WebServices",
"Data": "{\"BaseUrl\":\"http://*:803/\",\"Enabled\":true}",
"Tags": [
"Activity",
"SignalR",
"Publisher",
"Running"
],
"RequiredProperties": {
"Name": "SignalR-Host"
}
}
