{
"Name": "WolfpackWebService",
"Description": "This activity provides the Wolfpack Web Interface. This is a NancyFx powered api that provides a REST api interface.",
"InterfaceType": null,
"ConfigurationType": "Wolfpack.Core.WebServices.Interfaces.Entities.WebServiceActivityConfig, Wolfpack.Core.WebServices.Interfaces",
"PluginType": "Wolfpack.Core.WebServices.WebServiceActivity, Wolfpack.Core.WebServices",
"Data": "{\"BaseUrl\":\"http://localhost:802/\",\"Enabled\":true,\"ApiKeys\":null}",
"Tags": [
"Activity",
"Api",
"WebService",
"WebUI"
],
"RequiredProperties": {
"Name": "WolfpackWebService"
}
}
