{
"Name": "WolfpackPublisher",
"Description": "This activity is used to publish notifications to another Wolfpack instance via the Web REST Api.",
"InterfaceType": null,
"ConfigurationType": "Wolfpack.Core.WebServices.Interfaces.Entities.WebServicePublisherConfig, Wolfpack.Core.WebServices.Interfaces",
"PluginType": "Wolfpack.Core.WebServices.Publisher.WebServicePublisher, Wolfpack.Core.WebServices",
"Data": "{\"BaseFolder\":\"_outbox\",\"SendIntervalInSeconds\":10,\"UserAgent\":\"\",\"BaseUrl\":\"http://localhost:802/\",\"ApiKey\":\"\",\"FriendlyId\":\"WolfpackPublisher\",\"Enabled\":false}",
"Tags": [
"Activity",
"WebService",
"Publisher"
],
"RequiredProperties": {
"Name": "WolfpackPublisher"
}
}
